{% extends 'base.html' %}
{% load static %}

{% block title %}Add Room{% endblock %}

{% block content %}
    <h2 class="content_header_center">Add new rooms to the database:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="content_form">
            <span>Room name:</span>
            <input class='input_box' type="text" name="name" required>
            <span>Room capacity:</span>
            <input class='short_input' type="number" name="capacity" min="0" required>
            <span>Projector available:</span>
            <input type="checkbox" name="has_projector">
            <h2 class="message" style="color: {{ message_color }};">{{ message }}</h2>
            <input class="submit_button" type="submit" value="Add">
        </div>
    </form>
{% endblock %}