{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms{% endblock %}

{% block content %}

    <h2 class="content_header_left">List of Rooms:</h2>
    <table>
        <tr>
            <th>
                <div class="table_head_box">
                    Room
                    <div  class="sort_arrows_box">
                        <a href="#"><i class="material-icons" style="color: #127C99">arrow_drop_up</i></a>
                        <a href="#"><i class="material-icons" style="color: #127C99">arrow_drop_down</i></a>
                    </div>
                </div>
            </th>
            <th>Capacity</th>
            <th>Availability</th>
            <th>Projector</th>
            <th></th>
        </tr>
        {% if not rooms %}
            <tr>
                <td colspan="5" style="padding: 80px">
                    <a href="/add-room" class="room_link">
                        There are no rooms yet! Click here to add a new room!
                    </a>
                </td>
            </tr>
        {% else %}
            {% for room in rooms %}
                <tr>
                    <td><a href="/room-details/{{ room.0.pk }}" class="room_link">{{ room.0.name }}</a></td>
                    <td>{{ room.0.capacity }}</td>

                    {% if room.1 %}
                        <td><i class="material-icons" style="color: #38A83E">check</i></td>
                    {% else %}
                        <td><i class="material-icons" style="color: #FF3E25">close</i></td>
                    {% endif %}

                    {% if room.0.has_projector %}
                        <td><i class="material-icons" style="color: #38A83E">check</i></td>
                    {% else %}
                        <td><i class="material-icons" style="color: #FF3E25">close</i></td>
                    {% endif %}

                    <td>
                        <a href="/reserve/{{ room.0.pk }}"><i class="material-icons" style="color: #127C99">book</i></a>
                        <a href="/modify-room/{{ room.0.pk }}"><i class="material-icons" style="color: #38A83E">edit</i></a>
                        <a href="/delete-room/{{ room.0.pk }}"><i class="material-icons" style="color: #FF3E25">delete</i></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}